body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#title{
    text-align: center;
}

form label{
    display: block;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

form input{
    display: block;
    padding: 2px;
    margin: 5px auto;
    text-align: center;

}
form input[type="button"]{
    margin-top: 15px;
}

form.hide{
    display: none;
}
form .hide{
    display: none;
}

#scoreGrid{
    width: 90vw;
    max-width: 600px;
    margin: auto;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(var(--plyr-number), 1fr);
    grid-template-rows: repeat(7, 1.5fr);
    gap: 10px;
}

#scoreGrid.hide{
    display: none;
}

#scoreGrid div, #scoreGrid input{
    min-width: 50px;
    word-wrap: normal;
    text-align: center;
    box-sizing: border-box;
}
#scoreGrid .plyr{
    font-weight: bold;
    border-bottom: 3px solid yellowgreen;
}
#scoreGrid .score{
    background: yellowgreen;
    padding: 4px;
    font-weight: bold;
}
#scoreGrid input[type="number"]{
    border: 2px solid yellowgreen;
}
#scoreGrid input[type="button"]{
    border: 2px solid yellowgreen;
    border-radius: 25px;
}


#next-round{
    grid-column: 1 / calc((var(--plyr-number)) + 1);
}